/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-poppins: 'Poppins', $font-default;
$font-lekton: 'Lekton', $font-default;// TEMP:
$font-paratype: 'Paratype', $font-default;

/* Colors
 ****************************************************************/

$color-white: #fff;
$color-black: #000;
$color-silver-chalice: #aaa;
$color-alabaster: #fafafa;
$color-pewterblue: #7D98A1;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;
$color-champagne: #F5D491;
$color-pinkpop: #AA4465;
$color-viridian: #498467;
$color-deepspace: #586A6A;
$color-prussian: #003049;
$color-middleblue: #9AD2CB;


/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;
