<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} {{ page.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
    <main class="content_page">
        <section class="{{page.category}}">
			<div class="container">
				{{page.title}}
				<div id="about">
             		{{page.description}}
					<p>Current mission: </p> {{page.mission}}
				</div>
                	<ul>
                    	{% for image in page.images %}
                    <li>
                        <img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
                    </li>
                    {% endfor %}
                	</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
